/* body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
} */

.progress-container {
    width: 290px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    width: 0;
    text-align: center;
    line-height: 30px; /* Center the text vertically */
    color: white;
    transition: width 1s ease; /* Smooth transition for width change */
    font-size: 0.9rem;
}
