<div class="parent-page-css ">
    <div class="container">
        <div class="row justify-content-md-center g-3 col-12">

            <!--------------------------------------------- Progress Bar ------------------------------------------------------->
            <strong style="margin-top: 10px;">{{this.thisMonthName}}</strong>
            <div class="progress-container">

                <div class="progress-bar" id="progressBar" [style.width]="this.progress + '%'"
                    [ngClass]="this.progress<75?'bg-green':'bg-red'">{{this.progress}}%</div>
            </div>

            <!-- <button (click)="updateProgress()">Increase Progress</button> -->

            <!------------------------------------------ Global Search Accordian Starts ------------------------------------------>

            <button type="submit" class="btn btn-primary"
                (click)="globalSearchButtonClicked();isChartOptions=false;isShowStatistics=false;showPaymentsGrid=false">
                Global Search <i class="fa-solid fa-search"></i>
            </button>

            @if(showGlobalFilter){

            <!-- Search filter Input field -->
            <div class="col-12">
                <!-- Input Field Starts -->
                <div class="input-group">
                    <input [(ngModel)]="filterModule.searchText" class="form-control" type="text" id="inlineFormValue"
                        placeholder="Search by item name/Category" (keyup)="searchFilter($event)">
                </div>
                <!-- Input Field Ends -->

                <!-- Global Search Loader Starts -->
                @if (isLoadingSearchResult) {
                <div>
                    <i class="fa-solid fa-ellipsis fa-beat fa-xl" style="margin: 20px auto auto 45%;"></i>
                </div>
                }
                <!-- Global Search Loader Ends -->

                <!-- Global Search results Grid starts -->
                @for (d of this.searchedResults; track $index) {
                <div style="margin-top: 15px;">
                    <div>
                        <strong>{{this.datePipe.transform(d.date,"dd-MMM-yyyy")}} &nbsp;</strong>
                        
                    </div>
                    <div>
                        <strong>Expense:
                            &nbsp;{{d.totalExpenseOfTheDay}} &nbsp;&nbsp;&nbsp;Income:
                            {{d.totalIncomeOfTheDay}}</strong>
                    </div>
                </div>
                <table class="item-table">
                    <thead>
                        <tr>
                            <th scope="col">Item Name</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (i of d.transactions; track $index) {

                        @if (i.itemName!='' && i.itemName!=null) {

                        <tr>
                            <td>{{i.itemName}}</td>
                            <td>{{i.itemCost}}</td>
                            <td>{{i.itemCategoryId}}</td>
                        </tr>
                        }
                        }
                    </tbody>
                </table>
                }
                <!-- Global Search results Grid Ends -->

            </div>
            }
            <!------------------------------------------ Global Search Accordian Ends ------------------------------------------>



            <!------------------------------------------ Charts Accordian Starts ------------------------------------------>
            <button type="submit" class="btn btn-primary"
                (click)="chartsAccordion('');showPaymentsGrid=false;showGlobalFilter=false;isShowStatistics=false">
                Charts <i class="fa-solid fa-chart-column"></i>
            </button>

            @if (isChartOptions) {
            <!------------- Row 1 -------------->
            <div class="col box-container">
                <!-- Month Chart Button Starts -->

                <div class="col-3 box">
                    <button type="submit" class="btn {{this.chartButton=='monthChart'?'btn-secondary':''}}"
                        style="border: 1px solid gray;" (click)="chartsAccordion('monthChart')">
                        Monthly
                    </button>
                </div>
                <!-- Month Chart Button Ends -->

                <!-- Categories Chart Button Starts -->

                <div class="col-3 box">
                    <button type="submit" class="btn {{this.chartButton=='categoriesChart'?'btn-secondary':''}}"
                        style="border: 1px solid gray;"
                        (click)="chartsAccordion('categoriesChart');categoryChartDetails(selectedMonth,'category')">
                        Category
                    </button>
                </div>
                <!-- Categories Chart Button Ends -->

                <!-- Items Chart Button Starts -->

                <div class="col-3 box">
                    <button type="submit" class="btn {{this.chartButton=='itemsChart'?'btn-secondary':''}}"
                        style="border: 1px solid gray;"
                        (click)="chartsAccordion('itemsChart');categoryChartDetails(selectedMonth,'item')">
                        Item
                    </button>
                </div>
                <!-- Items Chart Button Ends -->
            </div>

            <!------------- Row 2 -------------->
            <!-- <div class="col-12" style="display: flex;justify-content: center;">


            </div> -->

            <!-- Months Chart Starts -->
            @if (this.chartButton=='monthChart') {
            <div class="col-12">
                <p-chart type="bar" [data]="monthChartData" [options]="monthChartOptions" />
            </div>
            }
            <!-- Months Chart Ends -->

            <!-- Categories Chart Starts -->
            @if (this.chartButton=='categoriesChart') {
            <div class="col-12" style="justify-content: center;display: flex;">

                <!-- Select Month Field Starts -->
                <div class="col-8">
                    <h6 style="margin-left: 25%;">Select Month</h6>
                    <select class="form-select" id="inlineFormSelectPref" [(ngModel)]="selectedMonth"
                        (change)="categoryChartDetails(selectedMonth,'category')">
                        @for (item of monthsList; track $index) {
                        <option value="{{item.monthName}}">{{item.monthName}}</option>
                        }

                    </select>
                </div>
                <!-- Select Month Field Starts -->

            </div>
            <!-- <strong style="margin-left:17%">Category vs Expense Chart ({{selectedMonth}}) </strong> -->
            @if (categoryAndItemChartData.datasets[0].data.length!=0) {
            <div class="col-12">

                <p-chart type="bar" [data]="categoryAndItemChartData" [options]="categoryOrItemChartOptions" />

            </div>
            }
            }
            <!-- Categories Chart Ends -->

            <!-- Items Chart Starts -->
            @if (this.chartButton=='itemsChart') {
            <div class="col-12" style="justify-content: center;display: flex;">
                <div class="col-8">
                    <h6 style="margin-left: 25%;">Select Month</h6>
                    <select class="form-select" id="inlineFormSelectPref" [(ngModel)]="selectedMonth"
                        (change)="categoryChartDetails(selectedMonth,'item')">
                        @for (item of monthsList; track $index) {
                        <option value="{{item.monthName}}">{{item.monthName}}</option>
                        }

                    </select>
                </div>
            </div>
            <!-- <strong style="margin-left:17%">Category Expense Chart</strong> -->
            @if (categoryAndItemChartData.datasets[0].data.length!=0) {
            <div class="col-12">

                <p-chart type="bar" [data]="categoryAndItemChartData" [options]="categoryOrItemChartOptions" />

            </div>
            }
            }
            <!-- Items Chart Ends -->
            }
            <!------------------------------------------ Charts Accordian Ends ------------------------------------------>


            <!------------------------------------------ Statics Accordian Starts ------------------------------------------>
            <button type="submit" class="btn btn-primary"
                (click)="this.isShowStatistics = !this.isShowStatistics;showPaymentsGrid=false;isChartOptions=false;showGlobalFilter=false">
                Statics <i class="fa-solid fa-calculator"></i>
            </button>
            @if (isShowStatistics) {
            <!-- Statics Grid starts -->

            <h5>Statics</h5>
            <table class="item-table">
                <thead>
                    <tr>
                        <th scope="col">Month</th>
                        <th scope="col">Income</th>
                        <th scope="col">Exp</th>
                        <th scope="col">Remain</th>
                    </tr>
                </thead>
                <tbody>
                    @for (i of this.statics; track $index) {

                    <tr>
                        <td>{{i.monthName}}</td>
                        <td>{{i.totalIncomeOfTheMonth}}</td>
                        <td>{{i.totalExpenseOfTheMonth}}</td>
                        <td [ngClass]="i.remainingOfTheMonth>0?'text-green':'text-red'">{{i.remainingOfTheMonth}}</td>
                    </tr>

                    }
                </tbody>
            </table>

            <!-- Statics Grid Ends -->


            <!-- Income Grid starts -->

            <h5>Incomes</h5>
            <table class="item-table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Part Time</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for (i of this.incomes; track $index) {

                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.salary}}</td>
                        <td>{{i.parttime}}</td>
                        <td style="text-decoration:solid;">{{i.salary + i.parttime}}</td>
                    </tr>

                    }
                </tbody>
            </table>

            <!-- Income Grid Ends -->

            }
            <!------------------------------------------ Statics Accordian Ends ------------------------------------------>


            <!------------------------------------------ Payments AAccordian Starts ------------------------------------------>
            <button type="submit" class="btn btn-primary"
                (click)="getPaymentDetails();this.showPaymentsGrid=!this.showPaymentsGrid;showGlobalFilter=false;isShowStatistics=false;isChartOptions=false">
                Payments <i class="fa-solid fa-indian-rupee"></i>
            </button>

            @if (showPaymentsGrid) {
            <div>
                <strong>
                    Total Paid: {{totalPaid}} &nbsp;&nbsp; Total Unpaid: {{totalUnpaid}}
                </strong>
            </div>
            <!-- Payment Grid starts -->
            @for (d of this.payments; track $index) {
            <div style="">
                <div>
                    <strong>{{d.itemName}} &nbsp;</strong>
                </div>
                <div>
                    <strong>
                        <!-- Paid:&nbsp;{{d.totalLended}} &nbsp;&nbsp;&nbsp;Unpaid{{d.totalBorrowed}} -->
                        Total:<span
                            [ngClass]="d.totalLended - d.totalBorrowed<0?'text-red':'text-green'">&nbsp;{{d.totalLended
                            - d.totalBorrowed}}</span>
                    </strong>
                </div>
            </div>
            <table class="item-table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @for (i of d.transactions; track $index) {

                    @if (i.itemName!='' && i.itemName!=null) {

                    <tr [ngClass]="i.type=='tolend'?'green-td':i.type=='borrow'?'red-td':''">
                        <td>{{i.itemCategoryId}}</td>
                        <td>{{i.itemCost}}</td>
                        <td>{{this.datePipe.transform(i.date,'d/M/yy')}}</td>
                    </tr>
                    }
                    }
                </tbody>
            </table>
            }
            <!-- Payment Grid Ends -->
            }

            <!------------------------------------------ Payments AAccordian Ends ------------------------------------------>

            <!------------------------------------------ Loan Accordian Starts --------------------------------------------->
            <button type="submit" class="btn btn-primary"
                (click)="getLoanDetails();this.showLoansGrid=!this.showLoansGrid;this.showPaymentsGrid=false;showGlobalFilter=false;isShowStatistics=false;isChartOptions=false">
                Loans <i class="fa-solid fa-indian-rupee"></i>
            </button>

            @if (showLoansGrid) {
            <div>
                <strong>
                    Total: +00
                </strong>
            </div>
            <!-- Loan Grid starts -->
            @for (d of this.loans; track $index) {
            <div>
                <div>
                    <strong>{{d.itemName}} &nbsp;</strong>
                </div>
                <div>
                    <strong>
                        Total:<span
                            [ngClass]="d.totalLended - d.totalBorrowed<0?'text-red':'text-green'">&nbsp;{{d.totalLended
                            - d.totalBorrowed}}</span>
                    </strong>
                </div>
            </div>
            <table class="item-table">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    @for (i of d.transactions; track $index) {

                    @if (i.itemName!='' && i.itemName!=null) {

                    <tr [ngClass]="i.type=='tolend'?'green-td':i.type=='borrow'?'red-td':''">
                        <td>{{i.itemCategoryId}}</td>
                        <td>{{i.itemCost}}</td>
                        <td>{{this.datePipe.transform(i.date,'d/M/yy')}}</td>
                    </tr>
                    }
                    }
                </tbody>
            </table>
            }
            <!-- Loan Grid Ends -->
            }
            <!------------------------------------------ Loan Accordian Ends --------------------------------------------->

        </div>
    </div>




</div>