.transactionRow{
    border:2px solid greenyellow ;
}

:host::ng-deep .form-check-input[value="debit"]:checked,:host::ng-deep .form-check-input[value="borrow"]:checked{
    background-color: red;
    border-color: red;
}

:host::ng-deep .form-check-input[value="credit"]:checked,:host::ng-deep .form-check-input[value="tolend"]:checked{
    background-color: rgb(50, 182, 67);
    border-color: rgb(34, 83, 31);
}

